*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background: linear-gradient(to bottom, #909795 30%, white 50%);
    
    background-repeat:no-repeat;
    
}


.container{
    max-width: 11000px;
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;
    margin-top: 4rem;
}

h1{
    color: white ;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 5px;
}

h2{
    color: white;
    font-size: 2.5rem;
}

.headshot{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.headshot img{
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

p{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 400;
    color: #909795;
    
}

.btn{
    display: inline-block;
    background: #909795;
    padding: 2.7rem 2.5rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
    color:white ;
    transition: background 0.5s;
}


.btn:hover{
background: linear-gradient(-45deg,#909795,white );
}

.custom-icon {
	font-size: 4rem !important;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer

}

body a{
    text-decoration: none;
}



