/*----------------------------------- Master styles ----------------------------- */
body{
	font-family: "itillium+Web", sans-serif;
	margin: 0px;
	background: linear-gradient(to right, #909792, #f6f1d3);
}

.container{
	display: grid;
	grid-template-columns: 1fr; /*entire layout considered having columns*/
}

.main-footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
}

/*----------------------------------- Navigation Bar ------------------------- */
.nav-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side{
	display: flex;
}

.nav-wrapper > .left-side > div{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper{
	height: 22px;
	/* set up for fade in transitiion when hovering*/
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
	color: #8a8a8a;
	text-decoration: none; /* remove basic html underline */ 
	transition: color 0.5s;
}

.nav-link-wrapper :hover{ /* */
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{ /* hover is a pseudo state*/
	color: black;
}

.active-nav-link {
	border-bottom: 1px solid black;
}

.active-nav-link a{
	color: black !important;
}

/*--------------------------------- Portfolio Styles ----------------------*/

.portfolio-items-wrapper{
	display : grid;
	height: 40vh;
	grid-template-columns: 1fr 1fr 1fr; /* give each collumn a full sized collumn*/
}

.custom-icon {
	font-size: 4em !important;
}

.portfolio-item-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	/* Allows more flexibility to position of each item*/
}

.portfolio-img-background{
	height: 350px;
	width: 100%;
	background-size: cover; /* crop images */
	background-position: center;
	background-repeat: no-repeat;
}

.resume-wrapper {
	background-image: url("../images/resume.png");
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: contain;
}

.project-wrapper{
	background-image: url("../images/projects.png");
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: contain;
}

.about-wrapper{
	background-image: url("../images/profile2.PNG");
	background-size: cover;
	background-position-y:-33vh;
	background-repeat: no-repeat;
	object-fit: contain;
	
}

.background-dim{
	transition: .5s;
	filter: brightness(40%);
}

.img-text-wrapper{
	/* position: absolute force element where it wouldnt go, mut need relative position parent*/
	/* top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px; */
	text-align: center;
}


.logo{
	width: 100px;
	height: 100px;
}

.img-text-wrapper .subtitle {
	transition: .8s;
	font-family: 600;
	font-style: italic;
	color: transparent;
	padding-top: 20px;
}

.img-text-wrapper:hover  .subtitle {
	font-weight: 600;
	color: white;
}

/* js calls this when hovering over an icon */
.icon-highlight { 
	transition: .5s;
	filter:drop-shadow(16px 16px 20px, white) invert(100%);
	font-size:5vh;
	cursor: pointer ;
}

/* ----------------------- Footer ------------------- */
.socials{
	display: flex;
	justify-content: space-evenly;
	height: 175px;
}

.socials a{
	text-decoration:none;
}

.custom-icon-social{
	font-size: 4em !important;
	color: black;
}


.simple-button{
	font-size: 20px;
	text-align: center;
	color: rgb(45, 48, 48);
	border: 2px solid rgb(140, 145, 145);
	background-color: rgba(0, 0, 0, .1);
	border-radius: 0;
}

.simple-button:hover {
	background-color:  rgba(0, 0, 0, .3);
}

/* --------------------------------------- About Page ---------------------------------*/

.col-1-3{
	width: 33.33%;
}

.col-2-3{
	width: 66.66%;
}

.col-2-3 img{
	
}


.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid, 
.col-1-3,
.col-2-3{
padding-left: 15px;
padding-right: 15px;
}




